[Unit]
Description=Mojito Boot Executer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/kali/mojito/src/menu.py
WorkingDirectory=/home/kali/mojito/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
